:root{
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --main_bg: hsl(217, 54%, 11%);
    --card_bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--main_bg);
    font-family: Outfit, sans-serif;
}

p {
    font-size: 18px;
}



.card {
    margin: 10% auto;
    height: 500px;
    width: 300px;
    background-color: var(--card_bg);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px hsl(216, 53%, 7%),
                6px 6px 30px hsl(216, 53%, 7%),
                9px 9px 50px hsl(216, 53%, 7%);
}

.card-content {
    /* margin: 5px; */
    padding: 10px;
}

div.img {
    /* width: 100%; */
    /* margin: 15px auto; */

}
.equilibrium-img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.card_title {
    color: var(--white);
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
}
.card_title:hover {
    color: var(--cyan);
    transition: 0.1s linear;
    cursor: pointer;
}
.card_description {
    color: var(--white);
    margin: 5px 0;
    font-weight: 300;
    font-size: 16px;
    color: var(--soft-blue);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 40px;
    margin: 0;
}
.ethereum-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ethereum-text {
    color: var(--cyan);
    font-size: 12px;
    font-weight: 600;
}
.ethereum {
    margin-right: 5px;
}
.timing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timingheading {
    display: inline-block;
    color: var(--soft-blue);
    font-size: 12px;
}
.clock{
    margin-right: 5px;
}
.footer-info {
    border-top: 1px solid var(--line);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto auto;
    padding: 20px 20px;
}
.avatar {
    width: 20px;
    margin-right: 20px;
}
.footer-info-text {
    font-size: 12px;
    text-align: center;
    color: var(--soft-blue);
}
.footer-info-text strong {
    color: var(--white);
}
.footer-info-text strong:hover {
    color: var(--cyan);
    transition: 0.1s linear;
    cursor: pointer;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: rgb(139, 139, 145);
    width: 100%;
}